@tailwind base;
@tailwind components;
@tailwind utilities;

.text-indent {
  text-indent: 2em;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}
