@font-face {
  font-family: 'IBM Plex Sans Thai';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans Thai'), local('IBMPlexSansThai'),
    url('~assets/fonts/IBMPlexSansThai-Regular.woff2') format('woff2'),
    url('~assets/fonts/IBMPlexSansThai-Regular.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Sans Thai';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Sans Thai Bold'), local('IBMPlexSansThai-Bold'),
    url('~assets/fonts/IBMPlexSansThai-Bold.woff2') format('woff2'),
    url('~assets/fonts/IBMPlexSansThai-Bold.woff') format('woff');
}
